---
interface Props {
    title?: string;
}

const { title = "HM Pro Arquitectura" } = Astro.props;
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<html class="light scroll-smooth" lang="es">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <title>{title}</title>
        <meta
            name="description"
            content="Soluciones arquitectónicas personalizadas HM Pro Arquitectura"
        />
        <link rel="icon" type="image/x-icon" href="/logo.jpeg" />
        <script
            src="https://cdn.tailwindcss.com?plugins=forms,container-queries"
        ></script>
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Inter:wght@400;500;600&family=Space+Grotesk:wght@300;400;500;700&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap"
            rel="stylesheet"
        />
        <script id="tailwind-config" is:inline>
            tailwind.config = {
                darkMode: "class",
                theme: {
                    extend: {
                        colors: {
                            "tertiary-fixed": "#735a3a",
                            "on-secondary-container": "#1b1c1c",
                            error: "#ba1a1a",
                            "outline-variant": "#c6c6c6",
                            outline: "#777777",
                            "secondary-fixed-dim": "#acabab",
                            "primary-container": "#3c3b3b",
                            "on-error-container": "#410002",
                            "surface-container-high": "#e8e8e8",
                            "on-primary": "#e5e2e1",
                            "on-secondary-fixed": "#1b1c1c",
                            "surface-container-highest": "#e2e2e2",
                            secondary: "#5e5e5e",
                            "surface-container": "#eeeeee",
                            primary: "#000000",
                            "on-background": "#1a1c1c",
                            surface: "#f9f9f9",
                            "tertiary-fixed-dim": "#594325",
                            tertiary: "#4d371b",
                            "on-primary-container": "#ffffff",
                            "inverse-primary": "#c8c6c5",
                            "surface-dim": "#dadada",
                            "secondary-container": "#d5d4d4",
                            background: "#f9f9f9",
                            "tertiary-container": "#8b704f",
                            "surface-bright": "#f9f9f9",
                            "primary-fixed-dim": "#474746",
                            "on-tertiary-fixed": "#ffffff",
                            "primary-fixed": "#5f5e5e",
                            "on-secondary-fixed-variant": "#3b3b3c",
                            "inverse-on-surface": "#f1f1f1",
                            "error-container": "#ffdad6",
                            "surface-container-lowest": "#ffffff",
                            "on-tertiary-fixed-variant": "#ffddb6",
                            "surface-container-low": "#f3f3f3",
                            "secondary-fixed": "#c7c6c6",
                            "surface-tint": "#5f5e5e",
                            "on-secondary": "#ffffff",
                            "on-primary-fixed-variant": "#e5e2e1",
                            "on-tertiary-container": "#ffffff",
                            "inverse-surface": "#2f3131",
                            "on-primary-fixed": "#ffffff",
                            "surface-variant": "#e2e2e2",
                            "on-surface": "#1a1c1c",
                            "on-tertiary": "#ffddb6",
                            "on-surface-variant": "#474747",
                            "on-error": "#ffffff",
                        },
                        borderRadius: {
                            DEFAULT: "0px",
                            lg: "0px",
                            xl: "0px",
                            full: "9999px",
                        },
                        fontFamily: {
                            headline: ["Noto Serif"],
                            body: ["Inter"],
                            label: ["Space Grotesk"],
                        },
                    },
                },
            };
        </script>
        <style is:global>
            .material-symbols-outlined {
                font-variation-settings:
                    "FILL" 0,
                    "wght" 200,
                    "GRAD" 0,
                    "opsz" 24;
            }
            .scroll-hide::-webkit-scrollbar {
                display: none;
            }
        </style>
    </head>
    <body
        class="bg-surface text-on-surface font-body overflow-x-hidden selection:bg-tertiary selection:text-white"
    >
        <Navbar />
        <slot />
        <Footer />
    </body>
</html>
